<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="packageSources" value="\\f\mk-Development\NuGet\MK.NextGen; \\f\mk-Development\NuGet\MK.NextGen\Framework; \\f\mk-Development\NuGet; C:\src\github\fast-nuget-update\src\TS.FastNugetUpdate.Tests\repo"/>
	</appSettings>
</configuration>